.footer-container {
    background-color: #242424;
    padding: 4rem, 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.social-icons {
    color: #ffffff;
    justify-self: start;

    cursor: pointer;
    text-decoration: none;
    font-size: 5rem;
    display: flex;
    align-self: center;
    margin-bottom: 16px;  
    margin-top: 16px; 

}


.social-icon-link {
    color: #ffffff;
    align-self: center;
    align-self: start;
    padding: 20px;
    justify-content: center;
}

.social-icon-link:hover {
    color: skyblue
}